<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>二極化論争掲示板</title>
    <link rel="stylesheet" href="{% static 'vote/css/index.css' %}">
</head>
<body>
    <header>
        <h1>二極化論争掲示板</h1>
        <p>気になる議題に意見を投票しよう！</p>
    </header>
    <main>
        <section class="topics">
            <h2>現在の議題</h2>
            <div class="topic">
                <h3>きのこの山 &#x1f344; vs たけのこの里 &#x1f38d;</h3>
                <div class="choices">
                    <h4 class="btn-choice"><a href="{% url 'kinokotakenoko' %}">投票はこちら</a></h4>
                </div>
            </div>
            <div class="topic">
                <h3>愛  &#x1F493;vs 金 &#x1F4B0;</h3>
                <div class="choices">
                    <h4 class="btn-choice"><a href="{% url 'loveormoney' %}">投票はこちら</a></h4>
                </div>
            </div>
            <div class="topic">
                <h3>&#x1F622;トロッコ問題&#x1F622;</h3>
                <div class="choices">
                    <h4 class="btn-choice"><a href="{% url 'torokko' %}">投票はこちら</a></h4>
                </div>
            </div>
        </section>
    </main>

</body>
</html>