<!DOCTYPE html>

<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>二極化論争掲示板</title>
    <link rel="stylesheet" href="{% static 'vote/css/index.css' %}">
</head>
<body>
    <header>
        <h1>二極化論争掲示板</h1>
        <p>気になる議題に意見を投票しよう！</p>
    </header>
    <main>
        <section class="topics">
            <h2>現在の議題</h2>
            <div class="topic">
                <h3>きのこの山 &#x1f344; vs たけのこの里 &#x1f38d;</h3>
                <div class="choices">
                    <button class="btn-choice" id="kinoko"><a href="{% url 'kinokotakenoko' %}">きのこの山</a></button>
                    <button class="btn-choice" id="takenoko"><a href="{% url 'kinokotakenoko' %}">たけのこの里</a></button>
                </div>
            </div>
            <div class="topic">
                <h3>愛  &#x1F493;vs 金 &#x1F4B0;</h3>
                <div class="choices">
                    <button class="btn-choice" id="love"><a href="{% url 'loveormoney' %}">愛</a></button>
                    <button class="btn-choice" id="money"><a href="{% url 'loveormoney' %}">金</a></button>
                </div>
            </div>
            <div class="topic">
                <h3>トロッコ問題</h3>
                <div class="choices">
                    <button class="btn-choice" id="save1"><a href="{% url 'torokko' %}">1人を助ける</a></button>
                    <button class="btn-choice" id="save5"><a href="{% url 'torokko' %}">5人を助ける</a></button>
                </div>
            </div>
        </section>
    </main>

</body>
</html>
