<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>きのこ vs たけのこ 投票サイト</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="vote/static/vote/js/kinoko.js"></script>
  </head>
  <body>
    
<main class="container">
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1>きのこ vs たけのこ</h1>
    <p class="lead">どちらに投票しますか？</p>
  </div>

  <div class="mx-5 p-3">
    <form class="needs-validation" novalidate action="/vote" method="post">
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="item" id="item_kinoko" value="kinoko">
          <label class="form-check-label" for="item_kinoko">きのこ &#x1f344;</label>
        </div>
      </div>
      <div class="form-group mb-3">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="item" id="item_takenoko" value="takenoko">
          <label class="form-check-label" for="item_takenoko">たけのこ &#x1f38d;</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">投票</button>
    </form>
  </div>
  <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script id="room-name" type="application/json">"kinokotakenoko"</script>
    <script>

    const chatSocket = new WebSocket(
        'ws://localhost:8000/ws/vote/' + 'kinokotakenoko' + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value.trim();
        if (message) {
            chatSocket.send(JSON.stringify({ 'message': message }));
            messageInputDom.value = '';
        }
    };
  </script>
</main>
    
  </body>
</html>