

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
    background-color: #f9f9f9;
    margin-top: 50px;
    padding: 20px;
}